<h1>{{name}}</h1>
<img src="https://picsum.photos/500/500?random" alt="image is broken!!!">

{{#each dinosaur}}
<h1>You are a {{name}}</h1>
<p>Here are some cool facts about {{name}}</p>
<ul>
  <li>{{fact_1}}</li>
  <li>{{fact_2}}</li>
  <li>{{fact_3}}</li>
</ul>
{{/each}}